<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>GRC Students</title>
    <link rel="stylesheet" href="//stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" >
</head>
<body>

    <div class="container">

        <h1>GRC Student List</h1>

        <ol>
        <repeat group="{{ @students }}" value="{{ @student }}">
            <li><a href="detail/{{ @student['sid'] }}">{{ @student['sid'] }} - {{ @student['last'] }}, {{ @student['first'] }}</a></li>
        </repeat>
        </ol>

        <a href="{{ @BASE }}/add">Add a New Student</a>
    </div>

</body>
</html>